input, textarea {
    width: 75%;
    resize: none;
	background-color: #333333;
	border-radius: 3px;
	color: white;
	border: none;
	min-height: 2em;
	font-family: 'Titillium Web', sans-serif;

}



input:focus, textarea:focus {
  background-color: rgba(150, 150, 150, 0.5);
  animation: none;
}

input:valid, textarea:valid {
	background-color: rgba(100, 0, 0, 0.5);
	animation: none;
  }

#form-name, #form-mail{
	animation: slide-rg 1s cubic-bezier(0.34, 1.56, 0.64, 1), color 2s infinite linear;
	;
}

#form-phone, #form-text{
	animation: slide-lf 1s cubic-bezier(0.34, 1.56, 0.64, 1), color 2s infinite linear;
}


.contact-content {
    color: white;
    width: 500px;
    padding: 0.5%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
	margin: 5% auto;
	overflow: hidden;
	-webkit-animation: slide 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		animation: slide 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.btn-enviar {
	background: linear-gradient(to right,rgb(150,0,0),rgb(150,0,0) 50%,rgb(100, 0, 0) 50%);
	transition: background-position 2s cubic-bezier(0.83, 0, 0.17, 1);
    align-content: center;
    margin: 5% auto;
    padding: 2%;
    font-size: 24px;
	font-family: 'Cinzel', serif;
	font-weight: 900;
    text-transform: uppercase;
    /*width: 96%;*/
	border-radius: 5px;
	color: white;
	border: none;
	height: 50px;
	width: 150px;
	background-size: 600px;
	cursor: pointer;
	-webkit-animation: slide 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@keyframes tamanio-boton {
	0% {width: 150px; height:50px;}
	50% {width: 170px; height: 60px;}
	100% {width: 150px; height: 50px;}
}


.btn-enviar:hover {
    color: white;
    background-color: rgb(200,0,0);
}