.scroll-img{
	margin-top: 30vh;
	position: absolute;
	animation: desaparecer 5s ease;
	opacity: 0;
}

@keyframes desaparecer {
	55% {opacity: 0.5; margin-top: 90vh;}
	65% {opacity: 0.5; margin-top: 88vh;}
	90% {opacity: 1; margin-top: 88vh;}
	100% {opacity: 0; margin-top: 70vh;}	
}

.goh{
	margin-top: 105vh;
	margin-left: 47.5vw;
	position: absolute;
	animation: aparecer 5s ease;
	opacity: 0;
}

@keyframes aparecer {
	55% {opacity: 0; margin-top: 100vh;}
	65% {opacity: 0.5; margin-top: 93vh;}
	90% {opacity: 1; margin-top: 93vh;}
	100% {opacity: 0; margin-top: 100vh;}	
}


.card{
	cursor: default;
	background-color: transparent;
	height: 330px;
	width: 195px;
	perspective: 500px;
	margin-top: 50px;
	margin-bottom: 5px;
	border-radius: 7px;
	
}

.card-2{
	cursor: default;
	background-color: transparent;
	height: 330px;
	width: 160px;
	perspective: 500px;
	margin-top: 5px;
	margin-bottom: 150px;
	border-radius: 7px;
}

.card-inner{
	width: 100%;
	height: 100%;
	text-align: center;
	transform-style: preserve-3d;
	transition: transform 0.3s;
	
}

.card:hover .card-inner{
	transform: rotateY(180deg);
	border: 2px solid #222222;
	border-radius: 7px;


}

.card-2:hover .card-inner{
	transform: rotateY(180deg);
	border: 2px solid #222222;
	border-radius: 7px;

}

.card-front, .card-back{
	position: absolute;
   height: auto;
   width: 100%;  
   border-radius: 7px;
   backface-visibility: hidden;

 }

 .card-front{
	 background-color: #222222;

 }

 .card-front img{
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
 }


.card-front h3 {
	margin: 0;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	margin-block-end: 0;
	margin-block-start: 0;
	padding: 0;

  }
  

  .card-back{
	transform: rotateY(180deg);
	font-style: normal;
	font-size: 0.9em;
	color: white;
  }




  .personajes {
	display: flex;
	align-content: space-between;
	justify-content: space-between;
  }



  #countdown {
	margin-top: 100px;
	margin-bottom: 100px;
	-webkit-animation: slide 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}


.intro {
	height: 563px;
	width: 1000px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	letter-spacing: 0.1rem;
	filter: grayscale(50%);
  }

.intro:hover{
    filter: brightness(120%) contrast(120%);
	transition: filter .2s ease-out;
}


  .intro-slideshow img {
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
	height: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */ 
	object-fit: cover;
	z-index:-1;
	/* filter: brightness(50%); */ /* 0% black, 100% original image, values > 100% are allowed for brighter than original image. */
	/* display: none; */
	opacity: 0;
	transition: opacity 0.75s ease-in-out;
  }
  /* .intro-slideshow img:first-child {
	display: block;
	opacity: 1;
  } */
  


.li-contador {
	display: inline-block;
	font-size: 1em;
	list-style-type: none;
	padding: 1em;
	text-transform: uppercase;
  }



.num-contador  {
	display: block;
	font-size: 4.5rem;
}


      /* ----------------------------------------------
 * Generated by Animista on 2020-10-13 19:37:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */


  @-webkit-keyframes seconds {
	0% {
	  -webkit-transform: translateY(-25px);
			  transform: translateY(-25px);
	  opacity: 0;
	}
	50% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
		opacity: 1;
	  }
	100% {
	  -webkit-transform: translateY(25px);
			  transform: translateY(25px);
	  opacity: 0;
	}
  }
  @keyframes seconds {
	0% {
	  -webkit-transform: translateY(-50px);
			  transform: translateY(-50px);
	  opacity: 0;
	}
	40% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
		opacity: 0.75;
	  }
	100% {
	  -webkit-transform: translateY(15px);
			  transform: translateY(15px);
	  opacity: 0;
	}
  }
  




/* PARALLAX */

.keyart, .keyart_layer {
	height: 1450px;
}

#parallax {
	display: none;
}


.keyart {
	position: relative;
	z-index: 10;
}

.keyart_layer {
	background-position: bottom, center;
	background-size: auto 1450px;
	background-repeat: no-repeat;
	width: 100%;
	/* background-size: 100% auto; */
	position: absolute;
}
.keyart_layer.parallax {
	position: fixed;
}


   	#keyart-0 {
		background-image: url('../images/parallax/HERO_9.png');
		animation: scroll 300s linear infinite;
		background-repeat: repeat-x;
	}
	#keyart-1 {
		background-image: url('../images/parallax/HERO_8.png');
	}
	#keyart-2 {
		background-image: url('../images/parallax/HERO_7.png');
	}
	#keyart-3 {
		background-image: url('../images/parallax/HERO_6.png');
	}
	#keyart-4 {
		background-image: url('../images/parallax/HERO_5.png');
	}
	#keyart-5 {
		background-image: url('../images/parallax/HERO_4.png');
		animation: scroll 120s linear infinite;
		background-repeat: repeat-x;

	}
	#keyart-6 {
		background-image: url('../images/parallax/HERO_3.png');
		animation: color 6s infinite linear;

	}
	#keyart-7 {
		background-image: url('../images/parallax/HERO_2.png');
	}
	#keyart-8 {
		background-image: url('../images/parallax/HERO_1.png');
	}



#maincontain {
	background-color: #000000;
	position: relative;
	z-index: 98;
}

	.pax #maincontain {
		top: 140px;
	}


#main {
	max-width: 1000px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;
	z-index: 99;
	position: relative;
	background-color:#000000;
}



/* GAME DESCRIPTION */

.section.description {
	text-align: center;
	line-height: 1.6em;
	margin-top: 80px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.section.description h5 {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.5em;
	margin-bottom: 30px;
}


@media (min-width: 601px) {

	#nonparallax {
		display: none;
	}
	#parallax {
		display: block;
	}

}

/*********************/
/* DISABLES PARALLAX */
/*********************/

@media (max-width: 600px) {

	#nonparallax {
		display: block;
	}
	#parallax {
		display: none;
	}

	#main {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 70px;
	}


}