::-webkit-scrollbar {
	width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #555555;
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #c20000;  
  }

.card{
	cursor: default;
	background-color: transparent;
	height: 330px;
	width: 195px;
	perspective: 500px;
	margin-top: 50px;
	margin-bottom: 5px;
	border-radius: 10px;
	
}

.card-2{
	cursor: default;
	background-color: transparent;
	height: 330px;
	width: 160px;
	perspective: 500px;
	margin-top: 5px;
	margin-bottom: 150px;
	border-radius: 10px;
}

.card-inner{
	width: 100%;
	height: 100%;
	text-align: center;
	transform-style: preserve-3d;
	transition: transform 0.3s;
	
}

.card:hover .card-inner{
	transform: rotateY(180deg);
	border: 2px solid #222222;
	border-radius: 10px;


}

.card-2:hover .card-inner{
	transform: rotateY(180deg);
	border: 2px solid #222222;
	border-radius: 10px;

}

.card-front, .card-back{
	position: absolute;
   height: auto;
   width: 100%;  
   border-radius: 10px;
   backface-visibility: hidden;

 }

 .card-front{
	 background-color: #222222;

 }

 .card-front img{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
 }


.card-front h3 {
	margin: 0;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	margin-block-end: 0;
	margin-block-start: 0;
	padding: 0;

  }
  

  .card-back{
	transform: rotateY(180deg);
	font-style: normal;
	font-size: 0.9em;
	color: white;
  }




  .personajes {
	display: flex;
	align-content: space-between;
	justify-content: space-between;
  }



.loader-container{
	position: fixed;
	align-items: center;
	display: flex;
	justify-content: center;
	width: 60px;
	height: 60px;
	margin: 600px 1250px;
	box-sizing: border-box;
	object-fit: cover;
	vertical-align: auto;
  }
   
  .loader-container .loader{
	position: absolute;
	width: 102%;
	height: 102%;
	border: solid 4px transparent;
	border-top-color: #c20000;
	border-left-color: #c20000;
	border-radius: 50%;
	animation: loader 1s cubic-bezier(0.34, 1.56, 0.64, 1) infinite;
  }
   
  .loader-container .loader2{
	position: absolute;
	background-image: url("../images/dragon.png");
	background-repeat: no-repeat;

	width: 100%;
	height: 100%;
  }
   
  @keyframes loader{
	0%{
	  transform: rotate(0deg);
	}
	100%{
	  transform: rotate(360deg);
	}
  }
   
.scroll-img{
	margin-top: 30vh;
	position: absolute;
	animation: desaparecer 3s ease;
	opacity: 0;
}

@keyframes desaparecer {
	55% {opacity: 0.5; margin-top: 90vh;}
	65% {opacity: 0.5; margin-top: 88vh;}
	90% {opacity: 1; margin-top: 88vh;}
	100% {opacity: 0; margin-top: 70vh;}	
}

.goh{
	margin-top: 105vh;
	margin-left: 47.5vw;
	position: absolute;
	animation: aparecer 3s ease;
	opacity: 0;
}

@keyframes aparecer {
	55% {opacity: 0; margin-top: 100vh;}
	65% {opacity: 0.5; margin-top: 93vh;}
	90% {opacity: 1; margin-top: 93vh;}
	100% {opacity: 0; margin-top: 100vh;}	
}



nav {
	margin-right: 20px;
	margin-bottom: 7px;
}

nav ul {
    list-style-type: none;
    text-align: right;
}

nav li {
	display: inline;
	padding: 5px;
	margin: 0 10px 0 0;
	cursor: pointer;
}

nav li a {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.7;
}

nav li a.active {
    color: #c20000;
    opacity: 0.9;
    border-bottom: 2px solid #c20000;
}

nav li a:hover {
    opacity: 1;
	border-bottom: solid;
	animation: borde 0.1s ease-in;
}

.burger:hover {
	border: none;
	cursor: pointer;

}

@keyframes borde {
	0% {border-bottom: 0px}
	100% {border-bottom: 3px; padding:5px}
}



body {
	font-family: 'Cinzel', serif;
	font-weight: 600;
	color: #FFFFFF;
	position: relative;
    background-image: url("../images/fondo.png");
	background-color: #000000;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% auto;
    margin: 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-home{
	background-image: none;
}


h1 {
	font-size: 36px;
	margin-block-end: 0.5em;
	margin-block-start: 0.5em;
	color: #c20000;
}


h2 {
    font-style: oblique;
    color: grey;
    padding: 0% 2% 2% 2%;
    font-size: 22px;
    margin-block-end: 0em;
    margin-block-start: 0em;
}

h3 {
    margin-block-end: 0.3em;
	margin-block-start: 1em;
	font-size: 1.2em;
}


h4 {
	margin: 0.25%;
	font-size: 1.1em;
}

h5 {
	color: #c20000;

}


#countdown {
	margin-top: 100px;
	margin-bottom: 100px;
	-webkit-animation: slide 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}


.intro {
	height: 563px;
	width: 1000px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	letter-spacing: 0.1rem;
	filter: grayscale(50%);
  }

.intro:hover{
    filter: brightness(120%) contrast(120%);
	transition: filter .2s ease-out;
	animation: zoom 2s ease-out;
}


  .intro-slideshow img {
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
	height: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */ 
	object-fit: cover;
	z-index:-1;
	/* filter: brightness(50%); */ /* 0% black, 100% original image, values > 100% are allowed for brighter than original image. */
	/* display: none; */
	opacity: 0;
	transition: opacity 0.75s ease-in-out;
  }
  /* .intro-slideshow img:first-child {
	display: block;
	opacity: 1;
  } */
  
  @keyframes zoom {
	95% {
		  transform: scale(1.05);
	}
  }



.detalles {
	padding: 5px;
	cursor: pointer;
	font-size: 1.2em;
	transform: translate3d(0,0,-100px);  

}

.detalles > summary::-webkit-details-marker { display: none; }



.detalles > summary{
    /*position: relative;*/
    background-color: rgb(150,0,0);
    color: white;
    padding: 4px;
    border: none;
    border-radius: 5px;
	transition: padding, border-radius 0.2s ease-in;
	-webkit-animation: slide 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



.detalles > div{
    background-color: #111111;
    transition: 0.25s ease-out;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    margin: 0;
    color: white;
	transition: 0.5s ease-out;	
}




.detalles > summary:hover{
    background-color: rgb(200,0,0);
    /* flex-direction: column; */
    font-weight: bolder;
    font-size: larger;
    transition: 0.25s ease-out;
}

.detalles > summary:active{
    font-size: larger;
}

.detalles:active{
    font-weight: bolder;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



.detalles[open]{
	outline: none;
}

.detalles[open] > summary{
    outline: none;
    font-weight: bolder;
    font-size: larger;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.detalles[open] > div{
-webkit-animation: conditionalOpen 0.2s normal forwards ease-in-out;
	-moz-animation: conditionalOpen 0.2s normal forwards ease-in-out;
		 animation: conditionalOpen 0.2s normal forwards ease-in-out;
 -webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
		 transform-origin: 50% 0%; 
}


@-webkit-keyframes conditionalOpen {
	from { transform: scaleY(0) ; opacity: 0;}
	to { transform: scaleY(1); opacity: 1;}
}
@-moz-keyframes conditionalOpen {
	from { transform: scaleY(0) ; opacity: 0;}
	to { transform: scaleY(1); opacity: 1;}
}
@keyframes conditionalOpen {
	from { transform: scaleY(0) ; opacity: 0;}
	to { transform: scaleY(1); opacity: 1;}
}


.flip-box{
	cursor: default;
	background-color: transparent;
	height: 384px;
	width: 768px;
	border: 1px solid;
	perspective: 1000px;
}

.flip-box-inner{
	width:100%;
	height: 100%;
	text-align: center;
	transform-style: preserve-3d;
	transition: transform 0.3s;
	/*transform: rotateX(180deg);*/

}

.flip-box:hover .flip-box-inner{
	transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back{
	position: absolute;
	height: auto;
	width: 100%;
	backface-visibility: hidden;
}

.flip-box-back{
	transform: rotateX(180deg);
	font-style: normal;
    color: white;
}

.flip-box-back h2{
	height: 100%;
	align-items: center;
	animation: zoom 4s infinite linear;
}




input, textarea {
    width: 75%;
    resize: none;
	font-family: 'Segoe UI', sans-serif;
	background-color: #333333;
	border-radius: 3px;
	color: white;
	border: none;
	min-height: 2em;
	animation: color 2s infinite linear;
}



input:focus, textarea:focus {
  background-color: rgba(150, 150, 150, 0.5);
  animation: none;
}

input:valid, textarea:valid {
	background-color: rgba(100, 0, 0, 0.5);
	animation: none;
  }


.contact-content {
    color: white;
    width: 500px;
    padding: 0.5%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
	margin: 3.5% auto;
	-webkit-animation: slide 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		animation: slide 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.events-content{
color: white;
width: 800px;
padding: 0.5%;
background-color: rgba(0, 0, 0, 0.9);
border-radius: 10px;
margin: 3.5% auto;
-webkit-animation: slide 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: slide 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



.btn-enviar {
	background: linear-gradient(to right,rgb(150,0,0),rgb(150,0,0) 50%,rgb(100, 0, 0) 50%);
	transition: background-position 2s cubic-bezier(0.83, 0, 0.17, 1);
    align-content: center;
    margin: 5% auto;
    padding: 2%;
    font-size: 24px;
	font-family: 'Cinzel', serif;
	font-weight: 900;
    text-transform: uppercase;
    /*width: 96%;*/
	border-radius: 5px;
	color: white;
	border: none;
	height: 50px;
	width: 150px;
	background-size: 600px;
	cursor: pointer;
	-webkit-animation: slide 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@keyframes tamanio-boton {
	0% {width: 150px; height:50px;}
	50% {width: 170px; height: 60px;}
	100% {width: 150px; height: 50px;}
}


.btn-enviar:hover {
    color: white;
    background-color: rgb(200,0,0);
}

.btns-social{
	display: none;

}

.button-social {
	padding: 0px;
	animation: slide-left 0.3s linear;


}

@keyframes slide-left {
	0% {
	  -webkit-transform: translateX(50px);
			  transform: translateX(1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 0.7;
	}
  }


.button-social:hover {
	opacity: 1;
	border: none;
}


.li-contador {
	display: inline-block;
	font-size: 1em;
	list-style-type: none;
	padding: 1em;
	text-transform: uppercase;
  }



.num-contador  {
	display: block;
	font-size: 4.5rem;
}


      /* ----------------------------------------------
 * Generated by Animista on 2020-10-13 19:37:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide {
	0% {
	  -webkit-transform: translateY(-100px);
			  transform: translateY(-100px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  @keyframes slide {
	0% {
	  -webkit-transform: translateY(-100px);
			  transform: translateY(-100px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }

  @-webkit-keyframes seconds {
	0% {
	  -webkit-transform: translateY(-25px);
			  transform: translateY(-25px);
	  opacity: 0;
	}
	50% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
		opacity: 1;
	  }
	100% {
	  -webkit-transform: translateY(25px);
			  transform: translateY(25px);
	  opacity: 0;
	}
  }
  @keyframes seconds {
	0% {
	  -webkit-transform: translateY(-50px);
			  transform: translateY(-50px);
	  opacity: 0;
	}
	40% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
		opacity: 0.75;
	  }
	100% {
	  -webkit-transform: translateY(15px);
			  transform: translateY(15px);
	  opacity: 0;
	}
  }
  





/* PARALLAX */

.keyart, .keyart_layer {
	height: 1450px;
}

#parallax {
	display: none;
}


.keyart {
	position: relative;
	z-index: 10;
}

.keyart_layer {
	background-position: bottom, center;
	background-size: auto 1450px;
	background-repeat: no-repeat;
	width: 100%;
	/* background-size: 100% auto; */
	position: absolute;
}
.keyart_layer.parallax {
	position: fixed;
}

	@keyframes scroll {
		0% { background-position:-50% } 
		100% { background-position:50% }
	}

	@keyframes color {
		0% {opacity: 1;}
		50% {opacity: 0.5;}
	}

   	#keyart-0 {
		background-image: url('../images/parallax/HERO_9.png');
		animation: scroll 300s linear infinite;
		background-repeat: repeat-x;
	}
	#keyart-1 {
		background-image: url('../images/parallax/HERO_8.png');
	}
	#keyart-2 {
		background-image: url('../images/parallax/HERO_7.png');
	}
	#keyart-3 {
		background-image: url('../images/parallax/HERO_6.png');
	}
	#keyart-4 {
		background-image: url('../images/parallax/HERO_5.png');
	}
	#keyart-5 {
		background-image: url('../images/parallax/HERO_4.png');
		animation: scroll 120s linear infinite;
		background-repeat: repeat-x;

	}
	#keyart-6 {
		background-image: url('../images/parallax/HERO_3.png');
		animation: color 6s infinite linear;

	}
	#keyart-7 {
		background-image: url('../images/parallax/HERO_2.png');
	}
	#keyart-8 {
		background-image: url('../images/parallax/HERO_1.png');
	}



#maincontain {
	background-color: #000000;
	position: relative;
	z-index: 98;
}

	.pax #maincontain {
		top: 140px;
	}


#main {
	max-width: 1000px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;
	z-index: 99;
	position: relative;
	background-color:#000000;
}



/* GAME DESCRIPTION */

.section.description {
	text-align: center;
	line-height: 1.6em;
	margin-top: 80px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.section.description h5 {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.5em;
	margin-bottom: 30px;
}


@media (min-width: 601px) {

	#nonparallax {
		display: none;
	}
	#parallax {
		display: block;
	}

}

/*********************/
/*********************/
/* DISABLES PARALLAX */
/*********************/
/*********************/

@media (max-width: 600px) {

	#nonparallax {
		display: block;
	}
	#parallax {
		display: none;
	}

	#main {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 70px;
	}


}





