*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.container {
  background-color: black;
  opacity: 0.9;
  position: relative;
  margin: auto;
  display: grid;
  width: 100%;
  height: auto;
  clear: both;
  padding: 2px;

}
.container img{
  width: 100%;
  background-size: cover;
  height: auto;
  position: relative;
  float: left;
}
.row{
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 1%;
  margin-top: 1%;
  clear: both;
}
*[class *= "col-"]{
  float: left;
  height: auto;
  margin-bottom: 1%;
  margin-top: 1%;
}
.col-12{
  width:100%; 
}
.col-11{
  width:91.666%; 
}
.col-10{
  width: 83.333%;
}
.col-9{
  width: 75%;
}
.col-8{
  width: 66.666%;
}
.col-7{
  width: 58.333%;
}
.col-6{
  width: 50%;
}
.col-5{
  width: 41.666%;
}
.col-4{
  width: 33.333%;
}
.col-3{
  width: 25%;
}
.col-2{
  width: 16.666%;
}
.col-1{
  width: 8.333%;
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-git {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  [class*="col-"] {
      width: 50%;
      margin: 0 auto;
      padding: 2px;
    }
}

.box{
  width: calc(26.3333% - 32px);
  margin: 8px;
  height: auto;
  position: relative;
  float: left;
} 