body {
  max-width: 100%;
  position: relative;
  
}
article{
  padding: 1.2em;
  display: block;
}
article div{
  padding-top: 0.3em;
  padding-bottom: 0.2em;
}
/*
.img-album h4, .img-album h6{
  font-size:85%;
}*/
.icon{
  width: 15px;
  height: 15px;
}
.img-album{
  text-align: center;
}
.album{
  height: 90%;
  width: 90%;
  border-radius: 10%;
}

.player, header{
  position: fixed;
  width: 100vw;
}

.player {
  vertical-align: baseline;
  bottom: 0;
  z-index: 1;
  height: 5em;
  align-items: center;
  flex-direction: row;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
}

/*#region navbar*/

nav {
  vertical-align: top;
  top: 0;
  max-height: 3.4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}
.main-btns{
  width: 25%;
}
.main-btns ul, .main-btns li{
  text-align: center;
}
.main-btns ul{
  list-style-type: none;
}
.main-btns li{
  display: inline;
  margin: 0 80px 0 0;
}
.main-btns li a{
  padding: 2px 7px 2px 7px;
  color: #666;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  text-decoration: none;
}
.main-btns li a:hover{
  background-color: #333333;
  color: #ffffff;
}
.img-perfil{
  float: right;
}

/*#endregion navbar*/


a {
  color: var(--primary-color);
}

/* a:hover, a:focus {
}*/


.profile {
  border-radius: 50%;
  height: 48px;
}

.main-logo{
  height: 48px;
}


.btn {
  background-color: var(--primary-color) !important;
  color: var(--bg-color) !important;
  
}
