:root {
  --primary-color: #00AAB4;
  --secondary-color: #00D2DC;
  --font-color: #0F0F0F;
  --bg-color: #F5F5F5;
  --heading-color: #292922;
  --disabled-color: #AAAAAA;
  --turquesa-color: #00AAB4;
  --turquesa-oscuro-color: #00D2DC;
  --gris-245-color: #0F0F0F;
  --gris-15-color: #F5F5F5;
  --gris-35-color: rgb(220,220,220);
  --gris-50-color: rgb(200,200,200);
  --blur-color: rgba(70, 70, 70, 0.5);
}

[data-theme="dark"] {
  --primary-color: #00D2DC;
  --secondary-color: #00AAB4;
  --font-color: #F5F5F5;
  --bg-color:  #0F0F0F;
  --heading-color: #818cab;
  --disabled-color: #AAAAAA;
  --turquesa-color: #00D2DC;
  --turquesa-oscuro-color: #00AAB4;
  --gris-35-color: #232323;
  --gris-245-color: #F5F5F5;
  --gris-15-color: #0F0F0F;
  --gris-50-color: #323232;
  --blur-color: rgba(180, 180, 180, 0.5);
}

body {
  font-family: 'Rowdies', cursive !important;
  /* font-family: 'Asap', sans-serif; */
  background-color: var(--gris-245-color);
  color: var(--bg-color);
  max-width: 100%;
  position: relative;
  
}

article{
  padding: 1.2em;
  display: block;

  /* max-width: 950px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}
article div{
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  

}
.img-album h4, .img-album h6{
  font-size:85%;
}
.icon{
  width: 15px;
  height: 15px;
}
/*
.svg{
  fill:#F5F5F5;
}*/



/* main{
  max-width: 1000px;
	margin-left: auto;
  margin-right: auto;
  background-color: var(--gris-35-color);
	position: relative;
  align-content: center;
  align-items: center;
  justify-content: space-between;
} */

.album{
  height: 90%;
  width: 90%;
  border-radius: 10%;
}

.player, nav{
  position: fixed;
  width: 100vw;
}

.player {
  vertical-align: baseline;
  bottom: 0;
  z-index: 1;
  height: 5em;
  align-items: center;
  flex-direction: row;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
  background-color: var(--gris-35-color);
}

/*#region navbar*/

nav {
  vertical-align: top;
  top: 0;
  max-height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gris-35-color);
  padding: 1%;
}
.main-btns{
  width: 25%;
}
.main-btns ul, .main-btns li{
  text-align: center;
}
.main-btns ul{
  list-style-type: none;
}
.main-btns li{
  display: inline;
  margin: 0 80px 0 0;
}
.main-btns li a{
  padding: 2px 7px 2px 7px;
  color: #666;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  text-decoration: none;
}
.main-btns li a:hover{
  background-color: #333333;
  color: #ffffff;
}
.img-perfil{
  float: right;
}

/*#endregion navbar*/





h1 {
  color: var(--primary-color);
  font-size: 2em;
}

p {
}

a {
  color: var(--primary-color);
}
a:hover, a:focus {
}


.profile {
  border-radius: 50%;
  height: 48px;
}

.main-logo{
  height: 48px;
}


.btn {
  background-color: var(--primary-color) !important;
  color: var(--bg-color) !important;
  
}
