body {
  max-width: 100%;
  position: relative;

}
article{
  padding: 1.2em;
  display: block;
}
article div{
  padding-top: 0.3em;
  padding-bottom: 0.2em;
}
/*
.img-album h4, .img-album h6{
  font-size:85%;
}*/
.icon{
  width: 15px;
  height: 15px;
}

.triangle{
  /*float: right;*/
  position: absolute;
  /* left: 0; */
  width: 1px;
  height: 1px;
  margin-left: 3.5vh;
  /* margin-left: 50px; */
  margin-top: 3.5%;
  /* margin-top: 50px; */
  opacity: 0.5;
  border-bottom: 100px solid var(--gris-15-color);
  border-left: 100px solid transparent;
  border-bottom-right-radius: 10%;
}

.img-container{ 
  height: 90%;
  width: 90%;
  border-radius: 10%;
  text-align: center;
}

.img-container:hover{
  opacity: 0.5;
}

.img-player{ 
  /* height: 60px;
  width: 60px; */
  border-radius: 10%;
}



.text-player{ 
  margin-left: 1%;
}
.text-player>*{
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.player, header{
  position: fixed;
  z-index: 100;
}

.player, nav{
  clear: both;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}
.player {
  bottom: 0;
  max-height: 5.4em;
  text-decoration: none;
  list-style-type: none;
}
.player .container .row, nav .container .row{
  justify-content: space-between;
}

.progress-bar{
  width: 100%;
}

/*#region navbar*/

nav {
  vertical-align: top;
  top: 0;
  max-height: 4.4em;
}


main{
  padding-top: 5em;
  padding-bottom: 5em;
}
.main-btns{
  width: 100%;
}
.main-btns ul, .main-btns li{
  text-align: center;
}
.main-btns ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.main-btns li{
  display: inline;
}
.main-btns li a{
  text-decoration: none;
}
.main-btns li a:hover{
  background-color: var(--turquesa-color);
}
.main-logo{
  width: 60%;
}
.profile {
  width: 19%;
  border-radius: 50%;
}


/*#endregion navbar*/


a {
  color: var(--primary-color);
}



.btn {
  background-color: var(--primary-color) !important;
  color: var(--bg-color) !important;
  
}


input[type=range]{
  -webkit-appearance: none;
  background-color: var(--gris-35-color);
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: linear-gradient(to right, var(--turquesa-color) 0%, var(--turquesa-color) 50%, var(--gris-15-color) 50%, var(--gris-15-color));

  border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: var(--turquesa-color);
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--turquesa-color);
}

  /*
  border-radius: 8px;
  outline: none;
  transition: background 450ms ease-in;
  stroke: var(--turquesa-color);
  -webkit-appearance: none;*/

  #open-comments{
    cursor:pointer;   
  }
  ::-webkit-scrollbar {display: none;}

  .comments-menu {
    padding-top: 4em;
    padding-bottom: 5em;
    height: 100%;
    right: -100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 1s;
    text-align:center;
  }
  
  .comments-menu a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .comments-menu a:hover{
    color: #f1f1f1;
  }
  
  .comments-menu .closebtn {
    position: absolute;
    top: 15%;
    right: 20%;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .comments-menu {padding-top: 15px;}
    .comments-menu a {font-size: 18px;}
  }

  /*# Comments region #*/
  .comments-description{
    text-align: start;
  }

  .comments-bar input{
    background-color: var(--gris-245-color);
    /* background: url("img/svg/Edit.svg"); */
    background-repeat: no-repeat;
    background-position: right;
    height: 2.5em;
    width: 100%;
    border-radius: 50vw;

  }
  .comments-box .row .bg-gris50{
    border-radius: 50vw;
  }
  
/*# End region #*/
