#filters{
    text-align: center; 
    display:flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-bottom: 2vh;
}

#filters>h4{
    border: 1.7px solid; 
    border-radius: 50vw;
    z-index: 2;
}
#filters>h4:hover{
    cursor: pointer;
}

.texto-img-grid-lista{
    display: inline-block;
    text-align: center;
    margin-left:0vw;
}

/* picture{
    position: relative;
    height: 0;
    width: 0;
}
picture::before{
    content: url('img/svg/Album.svg');
    display:block;
    width: 0px;
    height: 0%;
    position: absolute;
    right: 10px;
    bottom: 0px;
} */

/* .img-container img{
    border-image-source: url('img/svg/Album.svg');
    border-image-width: 20px;
} */

/* Mobile---------------------------------- */

@media only screen and (max-width: 600px) {
    .hidden-on-mobile{
        display: none!important;
    }

    .filter-left, .filter-right{
        margin-top: 1vh;
    }
    .filter-left{
        margin-left: 15vw;
    }
    .filter-right{
        margin-right: 15vw;
    }

    .texto-img-grid-lista{
        margin-left: 4vw;
        text-align: left;
        margin-bottom: 6vw;
    }
    .texto-img-grid-lista h4{
        margin-top: 2vw;
        margin-bottom: 5vw;
    }

    .row-search>*:nth-child(n+4){
        display: none;
    }
                                              
}