#filters{
    text-align: center; 
    display:flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-bottom: 2vh;
}

#filters>h4{
    border: 1.7px solid; 
    border-radius: 50vw;
    z-index: 2;
}
#filters>h4:hover{
    cursor: pointer;
}

.texto-img-grid-lista{
    display: inline-block;
    text-align: center;
    margin-left:0vw;
}

.hidden-on-desktop{
    display: none;
}
.hidden-on-mobile{
    display: unset;
}
/* picture{
    position: relative;
    height: 0;
    width: 0;
}
picture::before{
    content: url('img/svg/Album.svg');
    display:block;
    width: 0px;
    height: 0%;
    position: absolute;
    right: 10px;
    bottom: 0px;
} */

/* .img-container img{
    border-image-source: url('img/svg/Album.svg');
    border-image-width: 20px;
} */

/* Mobile------------------------------------------------- */

@media only screen and (max-width: 600px) {
    .hidden-on-mobile{
        display: none;
        /* visibility: hidden; */
    }
    .hidden-on-desktop{
        display: unset;
    }

    .filter-left, .filter-right{
        margin-top: 1vh;
    }
    .filter-left{
        margin-left: 15vw;
    }
    .filter-right{
        margin-right: 15vw;
    }

    .texto-img-grid-lista{
        margin-left: 4vw;
        text-align: left;
        margin-bottom: 6vw;
    }
    .texto-img-grid-lista h4{
        margin-top: 2vw;
        margin-bottom: 5vw;
    }

    .row-search>*:nth-child(n+4){
        display: none;
    }
     
    .player{
        border-top-left-radius: 0.7em;
        border-top-right-radius: 0.7em;
        /* Tiene que ser igual a la altura del de abajo */
        bottom: 2.4em;
    }
    .mini-player-mobile{
        position: fixed; 
        bottom: 0;
        height: 2.4em;
        line-height: 2em;
        text-align: center;
        z-index: 200;
    }
    .heart-button-mini-reproductor{
        position: absolute;
        right: 2%;
        transform: scale3d(0.8,0.8,0.8);
        z-index: 1;
    }
    .volume-button-mini-player{
        text-align: center;
        line-height: 100%;
    }
}