:root {
  --bold-font: bold;
  --regular-font: normal;
  --light-font: 300;
  --cursive-font: italic;
  --rowdies-font: 'Rowdies', sans-serif;
  --asap-font: 'Asap', sans-serif;
}

* {
    font-family: var(--rowdies-font);
    font-weight: var(--regular-font);
  }

  .font-bold {
    font-weight: var(--bold-font);
  }

  .font-regular {
    font-weight: var(--regular-font);
  }

  .font-light {
    font-weight: var(--light-font);
  }

  .font-cursive {
    font-style: var(--cursive-font);
  }

  h1, h2, h3, h4, h5, h6, p {
    color: var(--gris-245-color);
  }

  .main-title {
    font-size: 2em;
  }
 
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h4 {
    font-weight: var(--light-font);
    font-size: 15px;
  }

  h6 {
    font-weight: var(--light-font);
    color: var(--disabled-color);
    font-size: 11px;
  }
  
  p {
    font-family: var(--asap-font);
  }