:root {
  --bold-font: bold;
  --regular-font: normal;
  --light-font: 300;
  --cursive-font: italic;
  --rowdies-font: 'Rowdies', sans-serif;
  --asap-font: 'Asap', sans-serif;
}

* {
    font-family: var(--rowdies-font);
    font-weight: var(--regular-font);
  }

  .font-bold {
    font-weight: var(--bold-font);
  }

  .font-regular {
    font-weight: var(--regular-font);
  }

  .font-light {
    font-weight: var(--light-font);
  }

  .font-cursive {
    font-style: var(--cursive-font);
  }

  .text-left{
    text-align: left;
  }

  .text-center{
    text-align: center;
  }

  .text-right{
    text-align: right;
  }

  h1, h2, h3, h4, h5, h6, p {
    color: var(--gris-245-color);
  }

  .main-title {
    font-size: 3em;
  }
 
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-weight: var(--light-font);
    font-size: 15px;
  }

  h6 {
    font-weight: var(--light-font);
    color: var(--disabled-color);
    font-size: 11px;
  }
  
  p {
    font-family: var(--asap-font);
    font-size: 12px;
  }

  .asap{
    font-family: var(--asap-font);
  }


  @media (max-width: 600px) {
    .main-title {
      font-size: 2em;
    }
      h1 {
        font-size: 20px;
      }
      h2 {
        font-size: 16px;
      }
      h3 {
        font-size: 14px;
      }
      h4 {
        font-size: 11px;
      }
      h5 {
        font-size: 11px;
      }
      h6 {
        font-size: 11px;
      }
      p {
        font-size: 11px;
      }

      h4, h6{
        overflow: scroll;
        white-space:nowrap;
        text-overflow: ellipsis;


  }